<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    {{!-- <title>Kaizen</title> --}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/style.css" onerror="sheetError()">
  </head>
  <body>
    <div class="d-flex jumbotron justify-content-between flex-nowrap p-0">
      <a href="/"><h2><i class="fa fa-globe fa-lg"></i></a> Improve Our Livings</h2> 
      <span class="col-4 m-auto" id="heading">
        <h1>Kaizen!</h1>
        <hr id="heading-ul" class="m-0 col-3">
      </span>
      <span class="d-flex m-3" id="login-links">
      </span>
    </div>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAZIE3fq0VTm17lJmkctW8VLpEnHhQ1iZk"></script>
    {{#each js}}
      <script src="assets/js/{{this}}" type="text/javascript"></script>
    {{/each}}
  </body>
  <footer class="footer navbar-fixed-bottom font-small rounded text-right">
    <span id="ticket-link">
    </span>
    <span id="footer-container">
      <img src="assets/images/kaizen.png" class="img-nav rounded" alt="kaizen">
    </span>
  </footer>
</html>