 <div class="container">
     <div class="confirmation">
         <div id="message">
           <BR><BR>  
              <h4><i class="fa fa-lg"></i>Thanks for submitting the improvement ticket.</h4>
              <h4><i class="fa  fa-lg"></i>Click on Homepage to view your ticket on the map.</h4> 
         </div>
     </div>
     <BR><BR>
        <div class="row top-30">
          <div class="col-md-2 col-sm-2">
            <a class="btn btn-primary" href="/">Homepage</a>
          </div>
          <div class="col-md-2 col-sm-2">
            <a class="btn btn-primary" href="/registration">Registration</a>
          </div>
        </div>
  </div>      