 <div class="container">
     <div class="confirmation">
         <div id="message">
           <BR><BR>  
              <h4><i class="fa fa-lg"></i>Thanks for submitting the improvement ticket.</h4>
              <h4><i class="fa  fa-lg"></i>Click on Homepage to view your ticket on the map.</h4> 
         </div>
     </div>
  </div>      