<div class="container">
    <!--Google map-->
    <div id="map-container" class="z-depth-1" style="height: 500px"></div>
    <footer class="footer">
      <div class="container">
        <p><a href="/registration">Register</a> | <a href="/login">Login</a> </p>
      </div>
    </footer>
</div>   