<div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-globe fa-lg"></i> Improve our Livings</h1> 
        <hr> 
        <img src="assets/images/Blog-Kaizen.png" class = "img-rounded" alt="kaizen">
    </div>

    <!--Google map-->
    <div id="map-container" class="z-depth-1" style="height: 500px"></div>
    <footer class="footer">
      <div class="container">
        <p><a href="/api/issues">Issue List</a> | <a href="https://github.com/t-d-o-g/kaizen">GitHub Repo</a></p>
      </div>
    </footer>
</div>   