<div class="container">
    <!--Google map-->
  <div class="row main mx-auto">
    <div class="main-map-center p-2 rounded">
      <div id="map-container" class="z-depth-1"></div>
    </div>
  </div>
</div>   