<div class="container">
    <!--Google map-->
    <div id="map-container" class="z-depth-1" style="height: 500px"></div>
    <footer class="footer">
      <div class="container">
        <p><a href="/registration">Registration</a> | <a href="/api/ticketxrefs">Tickets List</a> | <a href="https://github.com/t-d-o-g/kaizen">GitHub Repo</a></p>
      </div>
    </footer>
</div>   