body {
    margin: 10px;
    background-repeat: no-repeat;
    background:url(https://i.ytimg.com/vi/4kfXjatgeEU/maxresdefault.jpg);
    background-size: cover;
}

#form-container {
    background-color: rgb(215, 237, 250);
    border-radius: 25px;
}

#map-container {
    border-radius: 25px;
}

/* Set the size of the div element that contains the map */
.jumbotron {
    background-color: rgb(215, 237, 250);
    display: flex;
    justify-content: center;
    padding: 0%; }

  .img-rounded {
    height: 100px;
    /* The height is 400 pixels */
    width: 25%;
    /* The width is the width of the web page */ }